<div>

    <br>
    
    <div>
        <label for="email">{{texto.email}}: </label>
        <input id="email" [(ngModel)]="emailIngresado" (ngModelChange)="verificarEmail()" [placeholder]="texto.escribaSu + ' ' + texto.email"/>
        <p class="advertencia">{{advertenciaEmail}}</p>
    </div>


    <div>
        <label for="password">{{texto.password}}: </label>
        <input id="password" [(ngModel)]="passwordIngresado" [placeholder]="texto.escribaSu + ' ' + texto.password"/>
    </div>

    <div>
        <button (click)="ingresar()">
            <i class="fa-solid fa-right-to-bracket"></i>
        </button>
        {{ texto.ingreso }}
    </div>

</div>