<div *ngIf="perfilActivo">
    <div>
        <button name="botonDatosPersonales" (click)="irDatosPersonales()">Datos personales</button>
    </div>

    <div *ngIf="perfilActivo.rol==='paciente'">
        <button name="botonTurnosActivos" (click)="irTurnosActivos()">Mis Turnos</button>
        <button name="botonTurnosDisponibles" (click)="irTurnosDisponibles()">Nuevo turno</button>
    </div>

    <div *ngIf="perfilActivo.rol==='profesional'">
        <button name="botonTurnosAtencion" (click)="irTurnosAtencion()">Ver turnos</button>
    </div>

    <div *ngIf="perfilActivo.rol==='administrador'">
        <button name="botonEspecialidades" (click)="irEspecialidades()">Especialidades</button>
        <button name="botonSeccionales" (click)="irSeccionales()">Seccionales</button>
        <button name="botonPersonal" (click)="irPersonal()">Personal</button>
        <button name="botonClientes" (click)="irClientes()">Clientes</button>
        <button name="botonHabilitaciones" (click)="irHabilitaciones()">Gestion Habilitaciones</button>
    </div>

</div>