<div class="VentanaNivel0">

  <div class="VentanaNivel1">
    <label for="perfil">Cambiar perfil</label>
    <select id="perfil" [(ngModel)]="perfilSeleccionado">
      <option [ngValue]="null">Seleccionar perfil</option>
      <option *ngFor="let perfil of perfilesUsuario" [ngValue]="perfil">
        {{ perfil.alias }}
      </option>
    </select>
    <button (click)="cambiarPerfil()">Activar cambio</button>
  </div>

  <div *ngIf="perfilActivo" class="VentanaNivel1">

    <!-- MUESTRA DATOS DE PERFIL -->
    <div>
      Perfil: {{ perfilActivo.alias }}

        <div class="VentanaNivel1">
          <img [src]="perfilActivo.imagen" alt="Foto de perfil" width="150" height="150">
        </div>
        
        <p>Nombre: {{ perfilActivo.nombre }}</p>
        <p>Apellido: {{ perfilActivo.apellido }}</p>
        <p>DNI: {{ perfilActivo.dni }}</p>
        <p>Fecha de nacimiento: {{ perfilActivo.fechaNacimiento.slice(0,-7) }}</p>

        <p>Rol: {{ perfilActivo.rol }}</p>

        <div *ngIf="perfilActivo.rol === 'profesional'">
          <p>Especialidad: {{ perfilActivo.especialidad }}</p>
          Disponibilidad horaria:
            <div *ngFor="let horario of perfilActivo.cronograma">
                {{ horario.seccional() }} {{ horario.dia() }} de 
                {{ horario.horarioInicio() }} a {{ horario.horarioFin() }}
            </div>
        </div>
    </div>

  </div>

  <!-- PERMITE CREAR NUEVOS PERFILES -->
  <app-nuevo-perfil></app-nuevo-perfil>

</div>