<div *ngIf="perfilActivo">
  
  {{texto.perfil}}: {{ perfilActivo.alias }}

    <p>{{texto.nombre}}: {{ perfilActivo.nombre }}</p>
    <p>{{texto.apellido}}: {{ perfilActivo.apellido }}</p>
    <p>{{texto.dni}}: {{ perfilActivo.dni }}</p>
    <p>{{texto.fechaNacimiento}}: {{ perfilActivo.fechaNacimiento.slice(0,-7) }}</p>

    <p>{{texto.rol}}: {{ perfilActivo.rol }}</p>

    <div *ngIf="perfilActivo.rol === 'profesional'">
      <p>{{texto.especialidad}}: {{ perfilActivo.especialidad }}</p>
      {{texto.disponibilidad}}:
        <div *ngFor="let horario of perfilActivo.cronograma">
            {{ horario.seccional() }} {{ horario.dia() }} de 
            {{ horario.horarioInicio() }} a {{ horario.horarioFin() }}
        </div>
    </div>



</div>

