<div class="VentanaNivel0">

    <p>Lista de seccionales</p>

    <div *ngFor="let seccional of seccionalesLocal" class="VentanaNivel1">
        {{seccional.nombre}} - {{seccional.direccion}} - {{seccional.ciudad}} - {{seccional.provincia}}
        {{seccional.telefono}} - {{seccional.email}}
        <ng-container *ngIf="perfilActivo">
        <div *ngIf="perfilActivo.rol==='administrador'">
            {{seccional.nombre}} *placeholder*
            <button name="botonEditarSeccional" (click)="proxy()">Editar seccional</button>
            <button name="botonEliminarSeccional" (click)="proxy()">Eliminar seccional</button>
        </div>
    </ng-container>
    </div>

    <ng-container *ngIf="perfilActivo">
        <div *ngIf="perfilActivo.rol==='administrador'">
            <button name="botonAgregarSeccional" (click)="mostrarPanelNuevaSeccional()">Agregar seccional</button>
            <div *ngIf="mostrarPanelNueva">
                <app-nueva-seccional></app-nueva-seccional>
            </div>
        </div>
    </ng-container>

    <div class="VentanaNivel0">
        <button name="exportarExcel" (click)="exportarCSV()">Exportar</button>
    </div>
</div>