<div class="VentanaNivel0">

    <p>Lista de especialidades</p>

    <div *ngFor="let especialidad of especialidadesLocal" class="VentanaNivel1">
        {{especialidad.nombre}}
        <ng-container *ngIf="perfilActivo">
        <div *ngIf="perfilActivo.rol==='administrador'">
            {{especialidad.duracion}} minutos
            <button name="botonTurnosDisponibles" (click)="proxy()">Editar especialidad</button>
            <button name="botonTurnosDisponibles" (click)="proxy()">Eliminar especialidad</button>
        </div>
    </ng-container>
    </div>

    <ng-container *ngIf="perfilActivo">
        <div *ngIf="perfilActivo.rol==='administrador'">
            <button name="botonTurnosDisponibles" (click)="mostrarPanelNuevaEspecialidad()">Agregar especialidad</button>
            <div *ngIf="mostrarPanelNueva">
                <app-nueva-especialidad></app-nueva-especialidad>
            </div>
        </div>
    </ng-container>

    <div class="VentanaNivel0">
        <button name="exportarExcel" (click)="exportarCSV()">Exportar</button>
    </div>
</div>


