<div *ngIf="perfilActivo">
    <p>Estas logueado como: {{perfilActivo.nombre}}</p>
</div>

<div>
    <div >
        <button name="botonInicio" (click)="irInicio()">Inicio</button>
    </div>
    
    <div >
        <button name="botonAyuda" (click)="irAyuda()">Ayuda</button>
    </div>

    <div>
        <button name="botonError" (click)="irError()">Ups, algo salió mal.</button>
    </div>
</div>

<div *ngIf="perfilActivo">
    <div>
        <button name="botonDatosPersonales" (click)="irDatosPersonales()">Datos personales</button>
    </div>
    
    <div>
        <button name="botonCalendario" (click)="irCalendario()">Calendario</button>
    </div>

    <div>
        <button name="botonTurnosDisponibles" (click)="irTurnosDisponibles()">{{ texto.nuevo + ' ' + texto.turno }}</button>
    </div>
</div>

<div *ngIf="!perfilActivo">
    <div>
        <button name="botonRegistro" (click)="irRegistro()">Registro</button>
    </div>

    <div>
        <button name="botonIngreso" (click)="irIngreso()">Ingreso</button>
    </div>
</div>
