<div *ngIf="perfilActivo">
    <p>Estas logueado como: {{perfilActivo.nombre}}</p>
</div>

<div>
    <div >
        <button name="botonInicio" (click)="irInicio()">Inicio</button>
    </div>
    
    <div >
        <button name="botonAyuda" (click)="irAyuda()">Ayuda</button>
    </div>

    <div>
        <button name="botonOferta" (click)="irOferta()">Oferta</button>  
    </div>
</div>

<div *ngIf="!perfilActivo">
    <div>
        <button name="botonRegistro" (click)="irRegistro()">Registro</button>
    </div>

    <div>
        <button name="botonIngreso" (click)="irIngreso()">Ingreso</button>
    </div>
</div>

<div *ngIf="perfilActivo">
    <div>
        <button name="botonSalir" (click)="cerrarSesion()">Salir</button>
    </div>
</div>

<!-- TESTEO -->
    <div>
        <button name="botonError" (click)="irError()">Ups, algo salió mal.</button>
    </div>