<div *ngIf="perfilActivo">
    <p>Estas logueado como: {{perfilActivo.nombre}}</p>
</div>

<div>
    <div >
        <button name="botonInicio" (click)="irInicio()">{{texto.inicio}}</button>
    </div>
    
    <div >
        <button name="botonAyuda" (click)="irAyuda()">{{texto.ayuda}}</button>
    </div>

    <div>
        <button name="botonError" (click)="irError()">{{texto.error}}</button>
    </div>
</div>

<div *ngIf="perfilActivo">
    <div>
        <button name="botonDatosPersonales" (click)="irDatosPersonales()">{{texto.datosPersonales}}</button>
    </div>
    
    <div>
        <button name="botonCalendario" (click)="irCalendario()">{{texto.calendario}}</button>
    </div>

    <div>
        <button name="botonTurnosDisponibles" (click)="irTurnosDisponibles()">{{ texto.nuevo + ' ' + texto.turno }}</button>
    </div>
</div>

<div *ngIf="!perfilActivo">
    <div>
        <button name="botonRegistro" (click)="irRegistro()">{{texto.registro}}</button>
    </div>

    <div>
        <button name="botonIngreso" (click)="irIngreso()">{{texto.ingreso}}</button>
    </div>
</div>


<div>
    <button name="botonBots" (click)="irBots()">BOTS</button>
</div>
