<div>


    <div>
        <label for="nombre">Nombre: </label>
        <input id="nombre" [(ngModel)]="nombreIngresado" (ngModelChange)="emitirDatos()" [placeholder]="texto.escribaSu + ' ' + texto.nombre"/>
    </div>


    <div>
        <label for="apellido">Apellido: </label>
        <input id="apellido" [(ngModel)]="apellidoIngresado" (ngModelChange)="emitirDatos()" [placeholder]="texto.escribaSu + ' ' + texto.apellido"/>
        <p class="advertencia">{{advertenciaNombres}}</p>
    </div>

    <div>
        <label for="dni">DNI: </label>
        <input id="dni" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="dniIngresado" (ngModelChange)="emitirDatos()" [placeholder]="texto.escribaSu + ' ' + texto.dni"/>
        <p class="advertencia">{{advertenciaDNI}}</p>
    </div>

    <div>
        <label for="fechaNacimiento">{{texto.fechaNacimiento}}: </label>
        <input id="fechaNacimiento" type="date" [(ngModel)]="fechaNacimientoIngresada" (ngModelChange)="emitirDatos()" [placeholder]="texto.escribaSu + ' ' + texto.fechaNacimiento"/>
    </div>

</div>