<div>


    <div>
        <label for="email">{{texto.email}}: </label>
        <input id="email" [(ngModel)]="emailIngresado" (ngModelChange)="verificarEmail()" [placeholder]="texto.escribaSu + ' ' + texto.email"/>
        <p class="advertencia">{{advertenciaEmail}}</p>
    </div>


    <div>
        <label for="password">{{texto.password}}: </label>
        <input id="password" [(ngModel)]="passwordIngresado" (ngModelChange)="verificarPassword()" [placeholder]="texto.escribaSu + ' ' + texto.password"/>
        <p class="advertencia">{{advertenciaPassword}}</p>
    </div>

    <div>
        <label for="confirmarpassword">{{texto.confirmarpassword}}: </label>
        <input id="confirmarpassword" [(ngModel)]="passwordConfirmacionIngresado" (ngModelChange)="verificarPassword()" [placeholder]="texto.escribaSu + ' ' + texto.password"/>
        <p class="advertencia">{{advertenciaConfirmacionPassword}}</p>
    </div>


    <div>
        <label for="rol">{{texto.rol}}: </label>
        <select id="rol" [(ngModel)]="rolSeleccionado">
            <ng-container *ngFor="let rol of rolesUsuarioLocal">
                <option [value]="rol">{{ rol }}</option>
            </ng-container>
        </select>
    </div>

    <div>
        <app-nuevo-paciente *ngIf="rolSeleccionado === 'paciente'" (datosGenerados)="guardarDatosUsuario($event)"></app-nuevo-paciente>
        <app-nuevo-profesional *ngIf="rolSeleccionado === 'profesional'" (datosGenerados)="guardarDatosUsuario($event)"></app-nuevo-profesional>
        <app-nuevo-administrador *ngIf="rolSeleccionado === 'administrador'" (datosGenerados)="guardarDatosUsuario($event)"></app-nuevo-administrador>
    </div>

    <div>
        <button (click)="registrarUsuario()">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>
        {{ texto.guardar }}
    </div>

</div>