<!--
<p>Turnos Activos</p>

<div *ngFor="let turno of turnosActivos" class="VentanaNivel0">
    {{turno.especialidad()}}
    {{turno.seccional()}}
    {{this.diasLocal[turno.diaSemana] | titlecase }}
    {{leerMinutos(turno.horaInicio)}}
    <button>Terminar Turno</button>
</div>

<app-nuevo-reporte></app-nuevo-reporte>
-->

<p>Turnos Activos</p>

<div *ngFor="let turno of turnosActivos" class="VentanaNivel0">
  {{ turno.especialidad() }}
  {{ turno.seccional() }}
  {{ diasLocal[turno.diaSemana] | titlecase }}
  {{ leerMinutos(turno.horaInicio) }}
  <button (click)="terminarTurno(turno)">Terminar Turno</button>
</div>

<!-- Si hay un turno seleccionado -->
<app-nuevo-reporte
  *ngIf="turnoSeleccionado"
  [idPerfilPaciente]="turnoSeleccionado.idPerfilPaciente"
  [idPerfilProfesional]="turnoSeleccionado.idPerfilProfesional"
  (cerrar)="cerrarReporte()">
</app-nuevo-reporte>
