<p>Turnos Activos</p>

<div *ngFor="let turno of turnosActivos" class="VentanaNivel0">
  {{ turno.especialidad() }}
  {{ turno.seccional() }}
  {{ diasLocal[turno.diaSemana] | titlecase }}
  {{ leerMinutos(turno.horaInicio) }}
  <button (click)="terminarTurno(turno)">Terminar Turno</button>
</div>

<app-nuevo-reporte
  *ngIf="turnoSeleccionado"
  [idPerfilPaciente]="turnoSeleccionado.idPaciente"
  [idPerfilProfesional]="turnoSeleccionado.idProfesional"
  [idTurno]="turnoSeleccionado.idTurno"
  (cerrar)="cerrarReporte()">
</app-nuevo-reporte>
