<div class="VentanaNivel1">

    <div>
        <label for="nombre">Nombre: </label>
        <input id="nombre" [(ngModel)]="nombreIngresado" [placeholder]="'Escriba el nombre de la especialidad'"/>
    </div>

    <div>
        <label for="duracion">Duración: </label>
        <input id="duracion" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="duracionIngresada" [placeholder]="'Escriba la duración esperada del turno'"/>
    </div>

    <div>
        <button onCLick="crearEspecialidad()">Confirmar</button>
    </div>

</div>