<h2>Turnos disponibles</h2>

<div>

<label>Día de la semana:
    <select [(ngModel)]="filtroDia" (change)="filtrar()">
        <option [ngValue]="null">-- Todos --</option>
        <option *ngFor="let dia of diasLocal; let i = index" [ngValue]="i">{{ dia }}</option>
    </select>
</label>

<label>Seccional:
    <select [(ngModel)]="filtroSeccional" (change)="filtrar()">
      <option [ngValue]="null">-- Todas --</option>
      <option *ngFor="let seccional of seccionalesLocal; let i = index" [ngValue]="i">{{ seccional }}</option>
    </select>
  </label>

  <label>Especialidad:
    <select [(ngModel)]="filtroEspecialidad" (change)="filtrar()">
      <option [ngValue]="null">-- Todas --</option>
      <option *ngFor="let especialidad of especialidadesLocal; let i = index" [ngValue]="i">{{ especialidad }}</option>
    </select>
  </label>

</div>

<h3>Turnos disponibles</h3>
<ul *ngIf="turnosDisponibles.length > 0">
  <li *ngFor="let t of turnosDisponibles">
    <button (click)="solicitarTurno(t)">Solicitar</button>
    {{t.especialidad()}} en {{ t.seccional() }}
    {{ t.dia() }} {{ t.horarioInicio() }}
  </li>
</ul>

